[2021-08-06 06:11] wengxyu1030 opened #1 "Rename variables to keep consistency with DHS"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/XWeng/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link r

[2021-08-06 06:16] wengxyu1030 opened #2 "Add new indicators to the current template"
Suggested by Sven that the following indicators should also be generated from the template: c_wfa, c_hfa (previously in DHS as hc70 and hc71), and c_wfh (new).

- [x] Currently only apply this to MICS6 new surveys applied to Data Whale team.
- [x] But later should check if the code apply to other World Bank coded survey for MICS6. (the code for these variables are expected to be standard consideri

[2021-08-07 10:46] robin-wang opened #3 "Belarus2019-JW"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:46] robin-wang opened #4 "Samoa2019-JW"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:47] robin-wang opened #5 "Chad2019-JW"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:48] robin-wang opened #6 "CentralAfricanRepublic2019-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:48] robin-wang opened #7 "StateOfPalestine2019-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:49] robin-wang opened #8 "SaoTomeAndPrincipe2019-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:50] robin-wang opened #9 "Nepal2019-JW"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:50] robin-wang opened #10 "Cuba2019-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:50] robin-wang opened #11 "Algeria2018-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:51] robin-wang opened #12 "Kosovo2019-KZ"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:51] robin-wang opened #13 "Serbia2019-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:52] robin-wang opened #14 "Guinea-Bissau2018-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:52] robin-wang opened #15 "Turkmenistan2019-AW"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:53] robin-wang opened #16 "Tonga2019-ToBeAssigned"
WORKFLOW DOC

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [ ] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [ ] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 10:53] robin-wang opened #17 "Thailand2019-RW"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 11:06] robin-wang opened #18 "NorthMacedonia2018-AW"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-07 11:07] robin-wang opened #19 "CostaRica2018-ZW"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2021-08-13 09:41] wengxyu1030 commented on #1
Dear @robin-wang and @wswz115 , please based on this list, rename the variables accordingly.

[2021-08-13 09:44] wengxyu1030 commented on #2
Dear @robin-wang and @wswz115 , please work on this for the assigned new surveys.

[2021-08-13 12:29] wengxyu1030 opened #20 "02 Enhance Template Structure"
- [x] 1. Modularize the batch file.
- [x] 2. Adjust append to merge.
- [x] 3. Check if there's any mistake on indicator calculation:

    - [x] - The range of age for vaccination is not 15-23 instead 12-23 (code changed but the label should adjust)

[2021-08-13 12:31] wengxyu1030 commented on #20
Dear @wswz115 , please pull request to the main branch once done with the tasks.

[2021-08-13 12:59] wswz115 commented on #20
Will do.

On Fri, Aug 13, 2021 at 8:31 PM wengxyu1030 ***@***.***>
wrote:

--

*Zetianyu Wang*
*Master of Public Policy *

Georgetown University                                           3700 O St
NW, Washington, DC 20007

P: (202)808-1320  <%28202%29%20812-4567>
E: ***@***.*** ***@***.***>

[2021-08-14 10:41] jianingwwww commented on #1
Dear @wengxyu1030 and @wswz115 , I have renamed these indicators and added codes in the pull request of Belarus2019 #21

[2021-08-14 15:16] wengxyu1030 commented on #3
Dear @jianingwwww,

Thanks for your input. I made a small edit in pull request #21 on your code, kindly review and make changes accordingly if you agree.

In terms of the quality checking requirement, @wswz115 is currently kindly helping on writing up a module to generate indicators. Once the #21 pull request is reviewed and merged, I would suggest you can park the quality checking part for this s

[2021-08-14 15:21] wengxyu1030 commented on #1
Thanks @jianingwwww , I have reviewed the rename code for pull request #21 , it's correct and clear. I will merge it to the main branch once the other edit request is completed in the pull request.

Regards,
Aline

[2021-08-15 02:47] jianingwwww commented on #3
Dear @wengxyu1030 ,

Thank you for your guidance! However, I didn't find your edit in my pull request. Could you please point out to me how to find them so I can adjust my codes accordingly?

Best,
Jianing

[2021-08-15 02:48] jianingwwww commented on #4
Dear @robin-wang and @wengxyu1030 , Samoa2019 datasets are not available.
<img width="914" alt="74e63296098db8497e8f21466866e92" src="https://user-images.githubusercontent.com/65478432/129465306-38f258cc-97da-4bfb-9ab5-195c08526f2a.png">

[2021-08-15 07:48] robin-wang commented on #4
Hi Jianing, thanks for your update. I have just verified (15 Aug 2021) that Samoa2019 is not available yet on UNICEF portal. We are closing this issue now. Thanks again!

[2021-08-15 07:48] #4 closed

[2021-08-15 12:07] wengxyu1030 commented on #3
Please see my comments in the pull request
https://github.com/wengxyu1030/MICS6/pull/21#discussion_r688939206

[2021-08-16 09:49] wengxyu1030 opened #22 "Potential Expand to Other new surveys"
There are new incoming available MICS6 surveys beyond what have been assigned. Some already been stored in the raw data folder listed as below, potentially more to come.

![2e550b1faeca521112b49260be0f934](https://user-images.githubusercontent.com/63058112/129545087-4d26e180-f27f-461d-abe5-4d278642d8e2.png)

[2021-08-16 13:56] wengxyu1030 opened #23 "The code is too long for cases when c_ITN=."
@wengxyu1030 Thank you for your comments. When I tried to add the country name in line 179, it reported an error: expression too long, so I had to start a new command.  Actually, if I replace line 179 and 180 with gen c_ITN=., this problem can be solved. But I am not sure the purpose of generating c_ITN in this way (maybe it's written to remind us that we should check for the presence of data used

[2021-08-16 14:01] wengxyu1030 opened #24 "Problem identified by WB to be refined"
The difference in any anc for Zimbabwe and Bangladesh comes from the fact that you are using the share of women with any ANC from a skilled provider as comparison (if you use 1-share of women without any ANC the WB numbers come out right) – so that’s fine. As for facility delivery, the WB template is wrong – the coder had not considered “council facilities” formal providers, the correct code would

[2021-08-16 14:11] wengxyu1030 commented on #24
Pulled request for this specific case identified for the country, but should be aware in other country coding.

And, potentially, if possible, using regular expression instead of this manual coding @robin-wang please share your thought on this.

[2021-08-16 16:18] robin-wang commented on #24
I think Sven's suggestions (in the 2nd half of his message) can be added as code change; that's cool concerning council facilities.

On regular expression, I have one hesitation before going with full support for regex: could it be possible that absence of regex was justified because the inconsistency was too notable across surveys?

Noting such a possibility, I prioritise completing as many surve

[2021-08-17 12:44] jianingwwww commented on #5
#25

[2021-08-18 13:36] wengxyu1030 commented on #5
Thanks for @jianingwwww 's input, the code looks good to me. While the quality checking procedure is waiting for @wswz115 's work on the quality checking module, please go ahead with other assigned surveys.

[2021-08-19 05:52] robin-wang commented on #19
CostaRica2018-ZW branch now ready. It is created from Main-Update base. QualityControl routine identified, DTA output confirmed in main routine.
@wswz115 @wengxyu1030

[2021-08-19 10:51] robin-wang commented on #3
Hi @wengxyu1030 @jianingwwww Please note the updated Main branch now has a Quality_Control.do file, which is an excerpt of the updated template we are working on in parallel.
Do we feel like it is right time to use it for quality control/ benchmarking?

[2021-08-19 14:46] wengxyu1030 commented on #3
Hi @robin-wang , thanks for the update, I think this file is very helpful.

Hi @jianingwwww please use the quality control file Quality_control.do to help you generate the indicators' value, and to compare with the statistics available in the MICS survey report. I understand that the report would not cover all the indicators, but please do find as many as possible indicators to compare with. The g

[2021-08-19 14:50] wengxyu1030 opened #26 "Quality Checking"
Currently, the do file for quality check is separately saved as Quality_control.do. Later, @wswz115 will embed this file to the master do file and automate the process of producing the indicator's value for each survey.

This do file can help you generate the indicators' value, and to compare with the statistics available in the MICS survey report. I understand that the report would not cover all

[2021-08-19 14:54] wswz115 commented on #26
Hi all,

The quality_control.do is embedded in the mics6_master.do file in the
Main_Update branch. I thought we are going to base our work on this branch
moving forward.

Zet

On Thu, Aug 19, 2021 at 10:51 PM wengxyu1030 ***@***.***>
wrote:

--

*Zetianyu Wang*
*Master of Public Policy *

Georgetown University                                           3700 O St
NW, Washington, DC 20007

P: (202)80

[2021-08-20 02:53] wengxyu1030 commented on #26
Dear @wswz115  and @robin-wang ,

Please pull request to the main branch of any template changes. As GitHub itself is a version control system we should not move to a new branch. Instead, pull request to the main branch from the branch you have worked on would keep track of any changes made. Moving forward we should still work on the main branch.

Please let me know if there's further questions.

[2021-08-20 06:50] robin-wang commented on #3
Echo Aline's message, and also a note on what you do as concrete steps going forward:
If it seems you should document discoveries/confusions in a certain place, please let us know the nature of your questions, we could reserve a specific place in checklist (for MICS only) for documentation and flexible trouble-shooting.

Cheers!

Robin

[2021-08-20 08:30] robin-wang commented on #26
Good afternoon,

Just to clarify on next steps, I think we are all expressing the same thing in slightly different ways:

Specifically,
1. Proceed with CostaRica, use the branch CostaRica2018-ZW.
2. Focus on CostaRica now, and if any changes to Master do file, we would make updates to Main_Update.
3. When CostaRica is about to be finalised, we then push updated version to Main branch of the reposi

[2021-08-22 14:33] wswz115 commented on #19
I have finished editing all do files for Costa Rica 2018 and updated the CostaRica2018-ZW branch accordingly.

[2021-08-23 13:08] wengxyu1030 commented on #1
The issue is now solved in the updated template. To be discussed on when to expand to earlier rounds of surveys.

[2021-08-23 13:17] wengxyu1030 commented on #20
Dear @wswz115 @jianingwwww and @robin-wang ,

Thanks for @wswz115 's great work on refining the template.

I have merged @wswz115 's branch main_update to the master branch main. The need coded CostaRica 2018 by @wswz115  and Chad, Belarus coded by @jianingwwww are all reflected the new template.

From now on, we work on the main branch. That said, please based on the main branch, make survey-spec

[2021-08-23 14:53] robin-wang commented on #16
Assigned to @Ortsang
OneDrive data access granted, data files and survey reports organised in folder path - Raw Data/MICS/MICS6-Tonga2019

An accompanying branch created - Tonga2019-KZ, to be used for updating programs wherever appropriate for Tonga.
(Assignment background memo: Guinea-Bissau assigned to RW in exchange for Tonga; GB2018 survey reports in Portuguese)

- Please proceed to downloadin

[2021-08-24 12:12] wengxyu1030 commented on #15
Updated the refined template in the pull request #29. Completed quality checking with the MICS country statistics report, @robin-wang please review.

Regards,
Aline

[2021-08-24 12:15] wengxyu1030 commented on #19
Dear @wswz115 , thanks for the input. There's no issue with the template. Please update the checklist if you have completed the quality checking procedure.

[2021-08-24 12:19] wengxyu1030 commented on #3
Dear @jianingwwww ,

I noitced that you did not code the skilled provider and formal health facility in the surveys. Please add the country-specific code accordingly for the Belarus and Chad survey.

Please see the detail commands I am talking about in this pull request, please let me know if there's further question.
https://github.com/wengxyu1030/MICS6/commit/7579ce376d103e785cb1e45d37c52603d971

[2021-08-24 14:06] Ortsang commented on #16
- [x] Please proceed to downloading the data folder from OneDrive.
- [x] Use Github Desktop to fetch the latest code from Tonga2019-KZ branch
- [ ] Rebase just to be sure - ~*not sure if it can be rebased, when clicking rebase it said 'this branch is uptodate with Tonga2019-KZ'*
- [x] Try running the Master do file and see where vassicitudes of life takes you thereof, and keep us apprised of your

[2021-08-24 16:19] robin-wang commented on #15
Reviewed code changes just now; this does not preclude another thorough look at the quality checking results along with the rest of MICS. Hats off to AW.

[2021-08-24 16:19] #15 closed

[2021-08-29 10:18] jianingwwww commented on #3
#31

[2021-08-29 10:20] jianingwwww commented on #3
Dear @wengxyu1030
I have added the survey-specific codes and listed my questions in #31 , could you please kindly guide me on that? Thanks a lot in advance!

[2021-08-31 17:48] robin-wang commented on #14
@wswz115 Need help with Bednet, Don't understand the steps needed there.

Additionally, I feel hospitalisation/HIV/NCD section is less relevant or not yet fully updated to MICS? What's your thought on this?

[2021-09-01 03:01] wswz115 commented on #14
hospitalization/HIV/NCD sections were not included in the previous processed MICS datasets prepared by WB team, so I did not add these section. Now that you mentioned, I checked a few MICS6 reports and it seems MICS6 did not include such questions (there are questions regarding *attitudes/knowledge* towards HIV, but not HIV prevalence).

For bed net, let me take a look tomorrow or the day after th

[2021-09-01 03:46] robin-wang commented on #6
Reassigned to RW, due to French language report 0901

[2021-09-01 03:48] robin-wang commented on #7
@jianingwwww This is the new assignment. Central African Republic is in French... : )

[2021-09-01 14:51] robin-wang commented on #14
No rush mate! Helpful confirmation on hospitalisation/NCD/HIV.
Re bednet, Aline and I had a small chat to confirm the logics used now; that said, if you have any improvements, it would be great!
Take care on the road.

[2021-09-02 03:08] robin-wang commented on #7
Hey Jianing, I verified CountryCodes is truly short of State of Palestine. (But luckily Kosovo is there : )  )
Please mute the line where merging is needed, let's focus on the rest for now. Cheers!

[2021-09-02 03:22] robin-wang opened #33 "Code for subnational regions"
Pending discussion

[2021-09-02 08:21] robin-wang commented on #11
Note on Algeria:
We see some health conditions being measured in the survey. perhaps helpful for further processing.

<img width="631" alt="Screenshot 2021-09-02 at 4 20 29 PM" src="https://user-images.githubusercontent.com/32467176/131808889-101b8200-9c0f-4a0c-b718-2cd091b93415.png">

[2021-09-03 14:59] robin-wang commented on #16
Added preliminary reviews/comments in the commits.

[2021-09-04 02:43] robin-wang commented on #9
@jianingwwww Hey Jianing, thanks for your time just now. Here is the new assignment.
Please note there are a few other surveys pending review, so when ultimately we merge your work (Nepal) into the main branch, minor harmonisation work might be needed.

Thanks so much for your work!

[2021-09-04 02:43] wengxyu1030 opened #36 "Issue for the country code"
there's no country code for the State of Palestine, please check.
a potential solution to have it as West Bank and Gaza to be consistent with the Bank system.

Source: https://github.com/wengxyu1030/MICS6/tree/StateOfPalestine2019-JW

[2021-09-04 02:46] wengxyu1030 commented on #7
Hi @jianingwwww , I have reviewed your pull request and merged #34 . Could you update the quality checking result and the final microdata to the OneDrive shared folder as you usually did?

Regards,
Aline

[2021-09-04 16:26] robin-wang commented on #13
@Ortsang  Note on the branch for Serbia2019 now, it is going to be based on the main branch before fully accounting for changes made in Tonga.
This means:
1. You may need to rebase at a later time
2. You might want to focus on nailing down the definitions before turning them into code; that is, until the 1st point is resolved.

Cheers!

[2021-09-04 16:28] robin-wang commented on #13
Status Update: Branch Serbia2019-KZ created...

[2021-09-05 04:32] wengxyu1030 opened #37 "Explanation for GUAL code"
The dofile 21_subnational_regions.do is used to map the region and country to the Global Administrative Unit Layers (GAUL). The GAUL data provide geospatial information for the geocodes (at sub-national level and national level)

Data Source:
https://data.apps.fao.org/map/catalog/srv/eng/catalog.search?id=12691#/metadata/9c35ba10-5649-41c8-bdfc-eb78e9e65654

There are several steps for RAs to iden

[2021-09-05 08:19] robin-wang commented on #16
Hey Ke @Ortsang
I was trying to replicate/review your results on my end, and noticed my suggestion yesterday messed things up a bit in 8_child illness.do. Please see my comments in pull request comment/conversation. Sorry for the inconvenience.

Also, once you have run through everything, you might be able to upload output files and indicator files to the respective OneDrive folders. Thanks much!

[2021-09-05 11:57] Ortsang commented on #16
checked - see the comments at pull req
thanks!

[2021-09-05 12:33] robin-wang commented on #16
End-of-edit notes:

- Pull request reviewed with minor changes in child illness section for diarrhoea
- Ticked boxes for Anthropometrics and Hospitalisation. These are less relevant/standardised for MICS.
- Note KZ's contribution to HIV section
- In quality-checking/indicator file, RW notes multiple values of 0 and missing. A retrospective review might be needed.

@Ortsang Great work!
Would be gre

[2021-09-05 13:22] robin-wang commented on #37
Thanks Aline, per our conversation earlier today, this might be something Sven needs to help with.
I'll reach out to him along with project progress enquiry.

[2021-09-05 14:54] jianingwwww commented on #9
#38

[2021-09-06 02:57] wengxyu1030 commented on #7
Thanks @jianingwwww , I see the microdata and the quality checking data are in place now. Please use the quality checking result cross-check with the report statistics.

[2021-09-06 14:12] jianingwwww commented on #7
Dear @wengxyu1030 , thanks for the reminder! I have cross-validated statistics in survey report and as far as I can see, all data look good with no drastic deviation from the report.

[2021-09-07 12:12] wengxyu1030 commented on #7
This is well noted. Thanks again@jianingwwww!

[2021-09-07 12:37] wengxyu1030 commented on #9
Hi @jianingwwww ,I have reviewed and merged the modified template from the pull request. Kindly compare the statistics from the quality check file to the report to make sure the indicators are not off track.

Regards,
Aline

[2021-09-07 17:42] robin-wang commented on #11
#39 Initial pull request created, log 0907.

[2021-09-08 07:54] wengxyu1030 commented on #11
https://mics-surveys-prod.s3.amazonaws.com/MICS6/Middle%20East%20and%20North%20Africa/Algeria/2018-2019/Survey%20findings/Algeria%202018-19%20MICS_French.pdf

I see no issue with the template modification and thereby merged it to the main branch. I am listing the public report as above. As this is in French, @robin-wang kindly let us know if you have conducted the quality checking for the overlapp

[2021-09-08 09:00] robin-wang commented on #11
Cheers! Will do!

[2021-09-09 11:35] robin-wang commented on #6
for CAR2018, ca7c zinc/sirop is used, but ca12 and ca13b also contain alternative treatment information for CAR people with diarrhee, but they are not used in current coding.

[2021-09-09 11:46] robin-wang commented on #6
Provider for treating diarrhea is tricky, currently only inferring that private pharmacies are excluded, any autre/other public or private are excluded. In addition, the coverage of agente de sante communaute is supposed to be wide, to be consistent with the interpretation in survey report notes.

[2021-09-09 12:17] robin-wang commented on #6
@wengxyu1030
TN file present for CAR2018, but it would really benefit from your review, despite our conversation about this for Guinea-Bissau2018. Cheers! Thank you very much!

[2021-09-09 12:59] robin-wang commented on #6
#40

[2021-09-12 15:03] jianingwwww commented on #9
Dear @wengxyu1030 ,

Apologies for the late reply！
I have cross-validated applicable statistics in the report and everything looks fine except for the definition of c_measles. I found that there are MR1 and MR2 immunization in Nepal2019 (figure 1). When I searched them in the report, I saw these explanations (figure2 and 3). Should I utilize variable im6m2d/m/y since MR2 seems to indicate Measles

[2021-09-12 15:24] robin-wang commented on #13
Hey Ke @Ortsang Great work!
I have merged the Serbia branch with main; you might notice some of your previous work on Tonga not being reflected fully on the Serbia branch, that's due to the rebase related issue we discussed before. All is well : )

For Serbia, it would be great if you could upload output data to OneDrive folders.

Up next, just wonder if you have time for looking at one more in th

[2021-09-13 03:39] robin-wang commented on #9
Hi Jianing, Thanks for checking the definition for Measles immunisation. Let's try to add im6m2x vars into the scope; it is not uncommon to have multiple indicators for immunisation status.
Cheers!

[2021-09-13 06:49] Ortsang commented on #13
Sure thing!
I am ready to work on another project, at Oahu XD.

[2021-09-13 06:59] robin-wang commented on #12
@Ortsang Aloha Ke!
The Kosovo2019 branch has been created from Main. Please note that UNICEF site has two sets of Kosovo data files, let's simply focus on the national surveys for Kosovo and that will do.

Please let me know if there are any questions. Cheers!

[2021-09-13 14:08] robin-wang commented on #13
Greetings towards Oahu, please proceed to #12 ~
Cheers!

[2021-09-14 08:13] wengxyu1030 commented on #18
Updated in the pull request  #45 with survey-specific conditions, @robin-wang please review.

[2021-09-14 13:41] jianingwwww commented on #10
I have adjusted the codes according to my experience on other surveys (also thanks to Google translate), see #46.
Due to my lack of mastery of Spanish, I only cross-validated part of the report.

[2021-09-14 14:40] robin-wang commented on #10
Jianing, hands down to you!

[2021-09-15 02:04] robin-wang commented on #18
Updated anc_tet and dpt vaccination sections. 0915

[2021-09-15 03:50] wengxyu1030 commented on #37
Link to the GAUL code folder: C:\U…\World Bank\MEASURE UHC DATA\RAW DATA\Rochelle Glenene O'Hagan - GAUL.rar

[2021-09-15 03:54] wengxyu1030 commented on #37
Earlier Email from Sven explaining the GUAL code.

Guys,

One of our projects this year is to visualize indicator values at the highest subnational administrative level if the survey in question is representative at this level.

To facilitate production of such maps, we need to assign “gaul codes” to the surveys’ region variables. I am attaching a dataset that has these codes, the variable you nee

[2021-09-15 04:12] wengxyu1030 opened #48 "Generate Time-Series (country-year-indicator)"
Once the survey coding is finished, we can move to collapse the microdata to time series for quality checking use.

[2021-09-16 10:53] robin-wang commented on #8
【HIV series variables available in WM file - HA-- series vars. not yet edited for Sao Tome and Principe.】

[2021-09-17 04:21] robin-wang commented on #37
@jianingwwww Hi Jianing, thanks to your hard work, we have concluded most of edits for MICS surveys. You previously raised a good point on subnational GUAL code.

We have secured updated data source from the Bank, and would like to invite your help concerning this. Specifically, we want to consolidate all GUAL code in the subnational.do program file for all MICS survey data. (we have 16 in this ba

[2021-09-17 07:31] jianingwwww commented on #37
Sure, I'd be happy to :)

[2021-09-17 18:04] wengxyu1030 commented on #36
Checked the CountryCodes.dta:
![image](https://user-images.githubusercontent.com/63058112/133833808-fd258f40-10a7-4190-b82b-f70b0061709d.png)

[2021-09-18 08:12] wengxyu1030 commented on #2
Sven pointed out there are other indicators that would be nice to incorporate, @robin-wang has been documenting but actions await.

[2021-09-18 09:26] robin-wang commented on #37
Great! Let me know if you need anything on this.
Hello to Shanghai~ Have a lovely holiday weekend.

[2021-09-22 08:54] wengxyu1030 commented on #37
Thanks to @jianingwwww 's input on the GAUL code, she also identified issues and well documented them in the pull request https://github.com/wengxyu1030/MICS6/pull/51#issuecomment-923857312 for our further review.

[2021-09-22 09:36] wengxyu1030 commented on #36
Updated accordingly in the template in the commit: 5c413e7b25d2bda9bd2bb846658948e957f07594

Where I replaced country code StateOfPalestine, to keep consistent with the WB country code.

[2021-09-22 09:36] #36 closed

[2021-09-23 11:37] robin-wang commented on #33
Already addressed in subnational code issue - GUAL.

[2021-09-23 11:37] #33 closed

[2021-09-25 13:54] robin-wang commented on #16
Update 0925, review in progress for Tonga 2019

[2021-09-28 17:47] wswz115 commented on #19
Here is what I did for quality checking:
1. Matched indicators from our output with those in MICS CostaRica2018 report. I wrote down the MICS indicator number for tracking purposes (such as **TM.5b** for 4+ANC visits, and these MICS indicator numbers should be consistent across all MICS reports).
2. Compared estimates between our version and MICS report by calculating in **percentage points** how

[2021-09-29 10:28] robin-wang commented on #19
This is brilliant mate!
I think we can leave it as is, the c_skin2skin indicator can be revisited after a more thorough look at the rest of this MICS patch.

I think that's the least time consuming way to go about it, but certainly open to options. The spreadsheet is great!!

[2021-10-01 12:51] wengxyu1030 opened #56 "About the sample weight"
Thanks to Ke @Ortsang 's careful work, there're mismatches of sample weights and indicators, which resulted in cases where the sample weight are missing for a lot of indicators with values. Ke and @robin-wang kindly fixed up the template accordingly.

@wengxyu1030 is looking at this systematically and will talk with the Task Team Leader on this. I will keep everyone posted if there's any update.

[2021-10-01 13:58] robin-wang commented on #56
Thanks Aline!
Ke and I have prioritised working on top of the variable structure that we have, and ensure the missing indicators can be checked above all. It would be great to have your insights in the application of weights in the MICS surveys for further updates. Much appreciated!

[2021-10-01 16:31] wengxyu1030 commented on #56
Dear All @robin-wang and @Ortsang ,

I have updated the template accordingly in the commit b5ca69e4a182244a5e6d2ddcc5735ff98bc55ce3

There should be no futher issue on the missing sample weight.

[2021-10-11 14:18] robin-wang commented on #19
For future reference, the ongoing checks revolve around how far off we are to the published reports, especially after updating the weights.
Skin2skin is a bit problematic.
[10f6a4bae1e24db8.xlsx](https://github.com/wengxyu1030/MICS6/files/7323122/10f6a4bae1e24db8.xlsx)

[2021-10-12 15:07] robin-wang commented on #17
Thailand checked, see Thailand 2019 tab:
https://docs.google.com/spreadsheets/d/1nUDeXGAlTAS5h1n-pdcVI2Xh7TbtsXKmQpcI2a8rDQw/edit?usp=sharing

[2021-10-12 15:07] #17 closed

[2021-10-13 13:45] robin-wang commented on #14
Checked stats against survey report, after weight update.
https://docs.google.com/spreadsheets/d/1nUDeXGAlTAS5h1n-pdcVI2Xh7TbtsXKmQpcI2a8rDQw/edit?usp=sharing
Close.

[2021-10-16 11:10] robin-wang commented on #12
@Ortsang Might need to discuss the situation with c_measles

[2021-10-16 11:12] Ortsang commented on #12
sorry I am a bit losing track. what situation is here about the c_measles?

[2021-10-16 11:18] robin-wang commented on #12
Wow, didn't expect you to wake up so early.
I am seeing a relatively large difference, what you are saying is the survey table only registers 24-35months?

<img width="925" alt="Screenshot 2021-10-16 at 7 17 23 PM" src="https://user-images.githubusercontent.com/32467176/137585310-cb64892e-3242-4dd9-aaf2-480db68b026b.png">
.

[2021-10-16 12:34] Ortsang commented on #12
haha, its been a while not sleeping long.
Re the question, a quick answer - it was mainly due to the unfinished version of Kosovo2019. I copy the table from Tonga2019 and this number is from the table of Tonga2019. I have filled up the table with numbers from Kosovo file. but there is another issue regarding Measles.

[2021-10-16 12:40] Ortsang commented on #12
`
if inlist(country_name,"Kosovo2019") {
		replace c_measles = 1 if c_measles == 0 & (inrange(im6my,2000,6666) | inlist(im6md,66) | inrange(hf12my,2000,6666) | inlist(hf12md,44,66))			// measles/MMR from card and mather report
		replace c_measles = 1 if c_measles == 0 & im26 == 1				// measles/MMR from memory
		//replace c_measles = . if ((inrange(im5,1,3) & (inrange(im6my,6667,9999) | inrange(im6

[2021-10-17 02:29] robin-wang commented on #12
Hey Ke!
Good catch, merged to main, and many thanks for checking the stats . I see it's 72.2, as you put it, way more perfect... lol.

[2021-10-17 02:29] #12 closed

[2021-10-17 02:58] robin-wang commented on #19
Re skin2skin
Discussed, seems our logic applies not perfectly to CostaRica, but works on other surveys. Kept as is.

Closed.

[2021-10-17 02:58] #19 closed

[2021-10-17 03:27] robin-wang commented on #18
Checked after weight update. Closed.

[2021-10-17 03:27] #18 closed

[2021-10-17 03:38] robin-wang commented on #9
Update and review after weight update.
RW Note: polio3 shows a relatively large margin of 12.3percentage points.

Closed with this comment.

[2021-10-17 03:38] #9 closed

[2021-10-17 03:40] robin-wang commented on #7
Updated and Reviewed after weight update.
Indicators checked and issue formally closed.

[2021-10-17 03:50] robin-wang commented on #3
RW note on modern method of contraception: any method is 45.8, which is also the template's standard set-up. If selecting the cut of modern method used in survey report (but not survey dataset), we have 39.9

Skin2skin needs review.

[2021-10-17 03:57] robin-wang commented on #56
Sample weight updated, implemented, discussed, and confirmed with Sven.
Might need to apply this retrospectively to other waves of MICS? @wengxyu1030 I am adding a to-do just in case we forgot.

[2021-10-17 15:10] robin-wang commented on #10
RW note:
- [ ] c_anc
Survey report indicates a much lower share than the raw dataset; but if choose not to implement code-to-missing, we'll have about 80%. Question for Sven.

replace c_anc = . if inlist(mn5,98,99) | mn2 == 9
replace c_anc = . if bl2 != 1 | ~inrange(wb4,15,49)

- [ ] polio vars
Polio vars were extracted for im6p`x'y/d, typically assumed to be 1-3. But for Cuba 2019, the range is 1

[2021-10-24 09:17] robin-wang opened #62 "Confirm edits from Sven and Implement/Commit/Push"
Cuba / Nepal / Sao Tome and Principe results implemented per suggestions.
Await feedback on Belarus.

To implement with rerun, and commit/push for program updates.

[2021-10-24 09:23] robin-wang opened #63 "01 Add control vars and new vars per instructions"
TO DO FOR DHS

- [x] Socioeconomic inequity control variables in healthcare access and health outcomes in planned analytical work

- Water source (hv201 in DHS HH dataset, already coded for MICS)

- Toilet type (hv205 “”, already coded for MICS)

- Birth order (bord in DHS and brthord in MICS birth dataset)

- Marrital Status - 1 if woman and mother currently married or living in union, 0 otherwis

[2021-10-29 08:26] #62 closed, assigned to robin-wang

[2021-11-04 13:42] #63 closed

[2021-11-04 13:44] robin-wang commented on #2
Status update:
- Implemented in MICS6
- Earlier wave edits will be rolled out. Issue closed.

[2021-11-04 13:44] #2 closed

[2021-11-04 13:48] robin-wang opened #68 "04Nov-AdditionalVars Edits"
EDITS:
- [x] There are duplicate water and toilet variables in it (please also always use the prefix hh_, not h_ for household level variables)
Removed vars in 20_hh_sanitation, kept vars in 15_household, which used clonevar statements
Renamed vars left in 20_hh_sanitation as hh_

- [x] The water and toilet variables don’t have the value labels that the original variables have (you can keep the la

[2021-11-04 15:17] robin-wang commented on #68
All implemented as of 1104 night, Beijing time.
Responded to Sven's message.

This issue should only be closed when it has been implemented across all MICS6 surveys.

[2021-11-30 02:17] robin-wang opened #69 "【Additional Dec】Samoa2019-Yixin"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2022-05-09 12:13] robin-wang commented on #69
@yixinluo304
I did spot checks on the survey report and produced values, brilliant work!

Program update note: Samoa2019 code update already wrapped into batch update for all do files in early May by RW.

[2022-05-09 12:13] #69 closed

[2022-05-09 12:15] robin-wang commented on #68
Porpose to close. Implemented for all MICS files.

[2022-05-09 12:15] #68 closed

[2022-05-09 12:16] robin-wang commented on #20
Updated in batch push in early May.

[2022-05-09 12:16] #20 closed

[2022-05-09 12:16] robin-wang commented on #1
Confirm and close.

[2022-05-09 12:16] #1 closed

[2022-05-09 12:41] robin-wang opened #73 "HEFPI-SC2022-MICS6-TurksCaicosIslands2019 | Yixin"
WORKFLOW DOC

{FOR REVIEWERS}
- [x] They can run the code smoothly on the reviewer's end, where the microdata could be generated without error
- [x] Review and validate the quality checking output

{FOR CODERS}
A. General Procedural Steps

- [x] Rebase current branch based on Master, ensure your branch is the latest.
Tutorial: Rebasing your project branch onto another branch
https://docs.github.co

[2022-05-09 12:43] robin-wang commented on #73
New assignment on this I-don't-know-where island country. We are going to learn interesting things about this big world, one island at a time..
@yixinluo304

[2022-05-30 07:00] robin-wang commented on #73
@yixinluo304 Splendid work, and special thanks on catching the typo in 1_c_anc file, the mis-spelling for Samoa2018 I can see is now corrected to its rightful year!
Cheers!

[2022-05-30 07:15] robin-wang opened #75 "HEFPI-SC2022-MICS6-Tuvalu2019 | Yixin"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
https://github.com/Data-Whale-DC/DHS-VIII/tree/Tuvalu2019-Yixin

[RAW DATA]
https://worldbankgroup-my.sharepoint.com/:f:/r/personal/sneelsen_worldbank_org/Documents/Projects/UHC/04%20STC/Aline/World%20Bank/MEASURE%20UHC%20DATA/RAW%20DATA/Recode%20VIII/[DHS-G

[2022-06-04 10:27] robin-wang commented on #73
@yixinluo304 Just checked indicators against survey reports, things look great. Issue moved to [Completed[

[2022-06-04 10:27] #73 closed

[2022-06-04 10:35] #56 closed

[2022-06-04 10:35] robin-wang commented on #48
Concluded.

[2022-06-04 10:35] #48 closed

[2022-06-04 10:39] robin-wang opened #76 "HEFPI-SC2022-MICS6-DominicanRepublic2019"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-04 10:40] robin-wang opened #77 "HEFPI-SC2022-MICS6-Honduras2019"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-04 10:40] robin-wang opened #78 "HEFPI-SC2022-MICS6-Korea2017 (Data Restricted)"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-04 10:42] robin-wang opened #79 "HEFPI-SC2022-MICS6-Malawi2019"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-04 10:42] robin-wang opened #80 "HEFPI-SC2022-MICS6-Guyana2019 (data temporarily not available)"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-04 10:43] robin-wang opened #81 "HEFPI-SC2022-MICS6-Argentina2019"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-04 10:44] robin-wang opened #82 "HEFPI-SC2022-MICS6-Vietnam2019"
[CHECKLIST] WORKFLOW DOC
Tracker for Project Management
https://github.com/Data-Whale-DC/HEFPI2022-SC-update-tasks/issues/1

[WORKING BRANCH]
To be added.

[RAW DATA]
- One Drive
https://worldbankgroup-my.sharepoint.com/:f:/g/personal/sneelsen_worldbank_org/Eu36TLZJIb5NuKfRQk_SdrYBKpl3yQhq8jkPCtdrsfM5_A

{FOR REVIEWERS}
- [ ] They can run the code smoothly on the reviewer's end, where the microdat

[2022-06-06 12:21] robin-wang commented on #78
Data restricted, per WB experience, they won't become available. Closed.

[2022-06-06 12:21] #78 closed

[2022-06-13 02:26] robin-wang commented on #81
could you please help review~ many thanks!
@wengxyu1030

[2022-06-17 08:17] robin-wang commented on #82
@yixinluo304 Hello Crystal, I have pushed latest edits to the Vietnam2020 working branch that was assigned to you. The changes include corrections in child vaccination/child illness and child anthropometrics.

I have not encountered any bugs or errors beyond these; just want to confirm if you edited / reviewed the rest of the template (files 15 and beyond)?

If you have done everything, please fee

[2022-06-17 14:46] robin-wang commented on #77
Gaul code from FAO2015 sample is not corresponding to the hh7 / regional numbers perfectly.